<!DOCTYPE html>
<html lang="en">
{% load plotly_dash %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시각화</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div>
    <h1>보호구 미착용</h1>
        {% plotly_app name="dash_integration_id" ratio=1.00 %}
    </div>
    <div class="container">
        <br>
        <h3>월별 보호구 통계</h3>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>month</th>
                    <th>보호구 코드</th>
                    <th>내용</th>
                    <th>총계</th>
                </tr>
            </thead>
            <tbody>
                {% for view in views %}
                <tr>
                    <td>{{ view.month }}</td>
                    <td>{{ view.code }}</td>
                    <td>{{ view.content }}</td>
                    <td>{{ view.code_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>